ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    display: inline;
    float: left;
  }

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  section {
      height: 110px;
  }
.info {
    display: inline-block;
}


  #txtarea {
      
      padding: 10px;
      max-width: 100%;
      line-height: 1.5;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px #999;
  }
  label {
    display: block;
    margin-bottom: 10px;
}

.sec2 {
    padding: 10px;
}

.form1 {
background-color:rgb(70, 64, 161);
}

.form2 {
    background-color: #999;
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 237, 237);
    color: rgb(19, 15, 15);
    text-align: center;
 }
